.specs {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
}

.specs .spec {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 5px;
  padding: 20px;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
}

.specs .spec__code {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: auto;
  width: 100%;
}

.specs .spec__code code {
  white-space: pre;
  border-radius: 3px;
  font-size: 11px;
  padding: 2px 5px;
  margin: 0;
  opacity: 0.4;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px;
  display: inline-block;
  padding: 2px 5px;
}

.specs .spec__example {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.specs .spec--light {
  background-color: rgba(255, 255, 255, 0.8);
}

.specs .spec--light .spec__code code {
  background-color: rgba(0, 0, 0, 0.8);
}
