/* 
Usage:
<span class="badge badge-[MODIFIER]">Basic</badge>
*/

.badge {
  --badge-bg: inherit;
  --badge-text-color: inherit;
  --badge-border-radius: 5px;
  --badge-border-width: 2px;
  --badge-border-color: inherit;
  --badge-font-family: var(--font-sans, sans-serif);
  --badge-font-size: 10px;
  --badge-padding: 2px 4px;

  &.badge--dark { 
    --badge-bg: var(--palette-black); 
    --badge-text-color: var(--palette-white);
    border: var(--badge-border-width) solid var(--palette-black);
    &.badge--outline { 
      --badge-bg: transparent; 
      --badge-text-color: var(--palette-black);
      border: var(--badge-border-width) solid var(--palette-black);
    }
  }
  &.badge--error { 
    --badge-bg: var(--palette-red); 
    --badge-text-color: var(--palette-black);
    border: var(--badge-border-width) solid var(--palette-red);
    &.badge--outline { 
      --badge-bg: transparent; 
      --badge-text-color: var(--palette-red);
      border: var(--badge-border-width) solid var(--palette-red);
    }
  }
  &.badge--info { 
    --badge-bg: var(--palette-blue); 
    --badge-text-color: var(--palette-black);
    border: var(--badge-border-width) solid var(--palette-blue);
    &.badge--outline { 
      --badge-bg: transparent; 
      --badge-text-color: var(--palette-blue);
      border: var(--badge-border-width) solid var(--palette-blue);
    }
  }
  &.badge--light { 
    --badge-bg: var(--palette-white); 
    --badge-text-color: var(--palette-black);
    border: var(--badge-border-width) solid var(--palette-white);
    &.badge--outline { 
      --badge-bg: transparent; 
      --badge-text-color: var(--palette-white);
      border: var(--badge-border-width) solid var(--palette-white);
    }
  }
  &.badge--success { 
    --badge-bg: var(--palette-green); 
    --badge-text-color: var(--palette-black);
    border: var(--badge-border-width) solid var(--palette-green);
    &.badge--outline { 
      --badge-bg: transparent; 
      --badge-text-color: var(--palette-green);
      border: var(--badge-border-width) solid var(--palette-green);
    }
  }
  &.badge--warning { 
    --badge-bg: var(--palette-yellow); 
    --badge-text-color: var(--palette-black);
    border: var(--badge-border-width) solid var(--palette-yellow);
    &.badge--outline { 
      --badge-bg: transparent; 
      --badge-text-color: var(--palette-yellow);
      border: var(--badge-border-width) solid var(--palette-yellow);
    }
  }
  &.badge--small { --badge-font-size: 9px; --badge-padding:2px 4px; }
  &.badge--large { --badge-font-size: 12px; --badge-padding:4px 8px; }

  background-color: var(--badge-bg);
  border-radius: var(--badge-border-radius);
  border: 0;
  color: var(--badge-text-color);
  cursor: pointer;
  font-family: var(--badge-font-family);
  font-size: var(--badge-font-size);
  font-weight: bold;
  min-width: 15px;
  outline: none;
  padding: var(--badge-padding);
  position: relative;
  text-align: center;
  text-wrap: nowrap;
  transition: all 0.3s;
  user-select: none;
  vertical-align: middle;
  width: max-content;
}
