/* 
Usage:
<span class="badge badge-[MODIFIER]">Basic</badge>
*/

:root {
  --badge-border-radius: 5px;
  --badge-border-width: 2px;
  --badge-font-family: var(--font-sans, sans-serif);
  --badge-font-small: 10px;
  --badge-font-medium: 12px;
  --badge-font-large: 13px;
  --badge-padding-small: 3px 6px;
  --badge-padding-medium: 3px 6px;
  --badge-padding-large: 4px 8px;
}

.badge {
  border-radius: var(--badge-border-radius);
  border: 0;
  cursor: pointer;
  font-family: var(--badge-font-family);
  font-size: var(--badge-font-medium);
  font-weight: bold;
  outline: none;
  padding: var(--badge-padding-medium);
  position: relative;
  text-align: center;
  transition: all 0.3s;
  user-select: none;
  vertical-align: middle;
  width: max-content;
  text-wrap: nowrap;
  min-width: 15px;

  &.badge--dark { background-color: var(--palette-black-60); color: var(--palette-white); }
  &.badge--light {background-color: var(--palette-white-80); color: var(--palette-black); }
  &.badge--success { background-color: var(--palette-green); color: var(--palette-white); }
  &.badge--error {background-color: var(--palette-red); color: var(--palette-white); }
  &.badge--warning { background-color: var(--palette-yellow); color: var(--palette-black); }
  &.badge--info { background-color: var(--palette-blue); color: var(--palette-white); }
  &.badge--small { font-size: var(--badge-font-small); padding: var(--badge-padding-small); }
  &.badge--medium { font-size: var(--badge-font-medium); padding: var(--badge-padding-medium); } 
  &.badge--large { font-size: var(--badge-font-large); padding: var(--badge-padding-large); }
  
}

