<div class="specs" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))">
  <div class="spec spec--light">
    <div class="spec__example"><span class="badge badge--dark">Dark</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--dark</code></div>
  </div>
  <div class="spec spec--light">
    <div class="spec__example"><span class="badge badge--dark badge--outline">Dark</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--dark</code><code>.badge--outline</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--light">Light</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--light</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--light badge--outline">Light</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--light</code><code>.badge--outline</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--info">Info</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--info</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--info badge--outline">Info</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--info</code><code>.badge--outline</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--success">Success</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--success</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--success badge--outline">Success</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--success</code><code>.badge--outline</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--warning">Warning</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--warning</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--warning badge--outline">Warning</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--warning</code><code>.badge--outline</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--error">Error</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--error</code></div>
  </div>
  <div class="spec">
    <div class="spec__example"><span class="badge badge--error badge--outline">Error</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--error</code><code>.badge--outline</code></div>
  </div>
  <div class="spec spec--light">
    <div class="spec__example"><span class="badge badge--dark badge--small">Small</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--dark</code><code>.badge--small</code></div>
  </div>
  <div class="spec spec--light">
    <div class="spec__example"><span class="badge badge--dark badge--large">Small</span></div>
    <div class="spec__code"><code>.badge</code><code>.badge--dark</code><code>.badge--large</code></div>
  </div>
</div>
