/* 
<label class="alert alert--[MODIFIERS]">
  <input type="checkbox" class="alert__toggle" />
  <div class="alert__close">＋</div>
  <div class="alert__title">Alert Title</div>
  <div class="alert__message">
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
    sunt a te dicta?
  </div>
</label> 
*/

/* Solid Alerts */
.alert {
  --bg: inherit;
  --bg-hover: inherit;
  --border-color: inherit;
  --border-color-hover: inherit;
  --border-radius: 4px;
  --border-style: solid;
  --border-width: 2px;
  --font-family: var(--font-sans, sans-serif);
  --font-size: 13px;
  --padding: 20px;
  --text-align: left;
  --text-color: inherit;
  --link-color: inherit;
  --link-color-hover: inherit;

  &.alert--dark {
    --bg: var(--palette-black, black);
    --bg-hover: var(--palette-black-80, black);
    --border-color: var(--palette-black, black);
    --border-color-hover: var(--palette-black-60, black);
    --text-color: var(--palette-white, white);
    --link-color: var(--palette-white, white);
    --link-color-hover: var(--palette-white-60, white);
    &.alert--ghost {
      --bg: var(--palette-black-20, black);
      --bg-hover: var(--palette-black-40, black);
      --border-color: transparent;
      --border-color-hover: transparent;
      --text-color: var(--palette-black, black);
      --link-color: var(--palette-black, black);
      --link-color-hover: var(--palette-black-60, black);
    }
    &.alert--outline {
      --bg: transparent;
      --bg-hover: var(--palette-black-20, black);
      --border-color: var(--palette-black, black);
      --text-color: var(--palette-black, black);
      --link-color: var(--palette-black, black);
      --link-color-hover: var(--palette-black-60, black);
    }
  }

  &.alert--error {
    --bg: var(--palette-red, red);
    --bg-hover: var(--palette-red-80, red);
    --border-color: var(--palette-red, red);
    --border-color-hover: var(--palette-red-60, red);
    --text-color: var(--palette-black, black);
    --link-color: var(--palette-black, black);
    --link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
      --bg: var(--palette-red-10, red);
      --bg-hover: var(--palette-red-20, red);
      --border-color: transparent;
      --border-color-hover: transparent;
      --text-color: var(--palette-red, red);
      --link-color: var(--palette-red, red);
      --link-color-hover: var(--palette-red-60, red);
    }
    &.alert--outline {
      --bg: transparent;
      --bg-hover: var(--palette-red-20, red);
      --border-color: var(--palette-red, red);
      --text-color: var(--palette-red, red);
      --link-color: var(--palette-red, red);
      --link-color-hover: var(--palette-red-60, red);
    }
  }

  &.alert--info {
    --bg: var(--palette-blue, blue);
    --bg-hover: var(--palette-blue-80, blue);
    --border-color: var(--palette-blue, blue);
    --border-color-hover: var(--palette-blue-60, blue);
    --text-color: var(--palette-black, black);
    --link-color: var(--palette-black, black);
    --link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
      --bg: var(--palette-blue-10, blue);
      --bg-hover: var(--palette-blue-20, blue);
      --border-color: transparent;
      --border-color-hover: transparent;
      --text-color: var(--palette-blue, blue);
      --link-color: var(--palette-blue, blue);
      --link-color-hover: var(--palette-blue-60, blue);
    }
    &.alert--outline {
      --bg: transparent;
      --bg-hover: var(--palette-blue-20, blue);
      --border-color: var(--palette-blue, blue);
      --text-color: var(--palette-blue, blue);
      --link-color: var(--palette-blue, blue);
      --link-color-hover: var(--palette-blue-60, blue);
    }
  }

  &.alert--light {
    --bg: var(--palette-white, white);
    --bg-hover: var(--palette-white-80, white);
    --border-color: var(--palette-white, white);
    --border-color-hover: var(--palette-white-60, white);
    --text-color: var(--palette-black, black);
    --link-color: var(--palette-black, black);
    --link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
      --bg: var(--palette-white-10, white);
      --bg-hover: var(--palette-white-20, white);
      --border-color: transparent;
      --border-color-hover: transparent;
      --text-color: var(--palette-white, white);
      --link-color: var(--palette-white, white);
      --link-color-hover: var(--palette-white-60, white);
    }
    &.alert--outline {
      --bg: transparent;
      --bg-hover: var(--palette-white-20, white);
      --border-color: var(--palette-white, white);
      --text-color: var(--palette-white, white);
      --link-color: var(--palette-white, white);
      --link-color-hover: var(--palette-white-60, white);
    }
  }

  &.alert--success {
    --bg: var(--palette-green, green);
    --bg-hover: var(--palette-green-80, green);
    --border-color: var(--palette-green, green);
    --border-color-hover: var(--palette-green-60, green);
    --text-color: var(--palette-black, black);
    --link-color: var(--palette-black, black);
    --link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
      --bg: var(--palette-green-10, green);
      --bg-hover: var(--palette-green-20, green);
      --border-color: transparent;
      --border-color-hover: transparent;
      --text-color: var(--palette-green, green);
      --link-color: var(--palette-green, green);
      --link-color-hover: var(--palette-green-60, green);
    }
    &.alert--outline {
      --bg: transparent;
      --bg-hover: var(--palette-green-20, green);
      --border-color: var(--palette-green, green);
      --text-color: var(--palette-green, green);
      --link-color: var(--palette-green, green);
      --link-color-hover: var(--palette-green-60, green);
    }
  }

  &.alert--warning {
    --bg: var(--palette-yellow, yellow);
    --bg-hover: var(--palette-yellow-80, yellow);
    --border-color: var(--palette-yellow, yellow);
    --border-color-hover: var(--palette-yellow-60, yellow);
    --text-color: var(--palette-black, black);
    --link-color: var(--palette-black, black);
    --link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
      --bg: var(--palette-yellow-10, yellow);
      --bg-hover: var(--palette-yellow-20, yellow);
      --border-color: transparent;
      --border-color-hover: transparent;
      --text-color: var(--palette-yellow, yellow);
      --link-color: var(--palette-yellow, yellow);
      --link-color-hover: var(--palette-yellow-60, yellow);
    }
    &.alert--outline {
      --bg: transparent;
      --bg-hover: var(--palette-yellow-20, yellow);
      --border-color: var(--palette-yellow, yellow);
      --text-color: var(--palette-yellow, yellow);
      --link-color: var(--palette-yellow, yellow);
      --link-color-hover: var(--palette-yellow-60, yellow);
    }
  }

  background-color: var(--bg);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-style: var(--border-style);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  gap: calc(var(--padding) / 2);
  overflow: hidden;
  padding: var(--padding);
  position: relative;
  text-align: var(--text-align, left);
  transition: all 0.3s;
  width: 100%;

  &:hover {
    background-color: var(--bg-hover);
    border-color: var(--border-color-hover);
  }

  .alert__title {
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--text-color);
    margin-right: var(--padding);
  }

  .alert__message {
    font-size: var(--font-size);
    color: var(--text-color);
    a {
      color: var(--link-color);
      &:hover {
        color: var(--link-color-hover);
      }
    }
  }

  .alert__close {
    color: var(--text-color);
    cursor: pointer;
    transform: rotate(45deg);
    position: absolute;
    top: calc(var(--padding) / 2);
    right: calc(var(--padding) / 2);
    font-size: 20px;
  }

  .alert__toggle {
    display: none;
  }

  &:has(.alert__toggle:checked) {
    animation: alert-closing-animation 0.25s linear forwards;
  }
}

/* Animations */

@keyframes alert-closing-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    height: auto;
    padding: var(--padding-medium);
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
  }
}
