/* 
<label class="alert alert--[MODIFIERS]">
  <input type="checkbox" class="alert__toggle" />
  <div class="alert__close">＋</div>
  <div class="alert__title">Alert Title</div>
  <div class="alert__message">
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
    sunt a te dicta?
  </div>
</label> 
*/

/* Solid Alerts */
.alert {
  --alert-bg: inherit;
  --alert-bg-hover: inherit;
  --alert-border-color: inherit;
  --alert-border-color-hover: inherit;
  --alert-border-radius: 4px;
  --alert-border-style: solid;
  --alert-border-width: 2px;
  --alert-font-family: var(--font-sans, sans-serif);
  --alert-font-size: 13px;
  --alert-padding: 20px;
  --alert-text-align: left;
  --alert-text-color: inherit;
  --alert-link-color: inherit;
  --alert-link-color-hover: inherit;

  &.alert--dark {
    --alert-bg: var(--palette-black, black);
    --alert-bg-hover: var(--palette-black-80, black);
    --alert-border-color: var(--palette-black, black);
    --alert-border-color-hover: var(--palette-black-60, black);
    --alert-text-color: var(--palette-white, white);
    --alert-link-color: var(--palette-white, white);
    --alert-link-color-hover: var(--palette-white-60, white);
    &.alert--ghost {
        --alert-bg: var(--palette-black-20, black);
        --alert-bg-hover: var(--palette-black-40, black);
        --alert-border-color: transparent;
        --alert-border-color-hover: transparent;
        --alert-text-color: var(--palette-black, black);
        --alert-link-color: var(--palette-black, black);
        --alert-link-color-hover: var(--palette-black-60, black);
    }
    &.alert--outline {
        --alert-bg: transparent;
        --alert-bg-hover: var(--palette-black-20, black);
        --alert-border-color: var(--palette-black, black);
        --alert-text-color: var(--palette-black, black);
        --alert-link-color: var(--palette-black, black);
        --alert-link-color-hover: var(--palette-black-60, black);
      }
  }

  &.alert--error {
    --alert-bg: var(--palette-red, red);
    --alert-bg-hover: var(--palette-red-80, red);
    --alert-border-color: var(--palette-red, red);
    --alert-border-color-hover: var(--palette-red-60, red);
    --alert-text-color: var(--palette-black, black);
    --alert-link-color: var(--palette-black, black);
    --alert-link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
        --alert-bg: var(--palette-red-10, red);
        --alert-bg-hover: var(--palette-red-20, red);
        --alert-border-color: transparent;
        --alert-border-color-hover: transparent;
        --alert-text-color: var(--palette-red, red);
        --alert-link-color: var(--palette-red, red);
        --alert-link-color-hover: var(--palette-red-60, red);
      }
    &.alert--outline {
        --alert-bg: transparent;
        --alert-bg-hover: var(--palette-red-20, red);
        --alert-border-color: var(--palette-red, red);
        --alert-text-color: var(--palette-red, red);
        --alert-link-color: var(--palette-red, red);
        --alert-link-color-hover: var(--palette-red-60, red);
      }
  }

  &.alert--info {
    --alert-bg: var(--palette-blue, blue);
    --alert-bg-hover: var(--palette-blue-80, blue);
    --alert-border-color: var(--palette-blue, blue);
    --alert-border-color-hover: var(--palette-blue-60, blue);
    --alert-text-color: var(--palette-black, black);
    --alert-link-color: var(--palette-black, black);
    --alert-link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
        --alert-bg: var(--palette-blue-10, blue);
        --alert-bg-hover: var(--palette-blue-20, blue);
        --alert-border-color: transparent;
        --alert-border-color-hover: transparent;
        --alert-text-color: var(--palette-blue, blue);
        --alert-link-color: var(--palette-blue, blue);
        --alert-link-color-hover: var(--palette-blue-60, blue);
      }
    &.alert--outline {
        --alert-bg: transparent;
        --alert-bg-hover: var(--palette-blue-20, blue);
        --alert-border-color: var(--palette-blue, blue);
        --alert-text-color: var(--palette-blue, blue);
        --alert-link-color: var(--palette-blue, blue);
        --alert-link-color-hover: var(--palette-blue-60, blue);
      }
  }

  &.alert--light {
    --alert-bg: var(--palette-white, white);
    --alert-bg-hover: var(--palette-white-80, white);
    --alert-border-color: var(--palette-white, white);
    --alert-border-color-hover: var(--palette-white-60, white);
    --alert-text-color: var(--palette-black, black);
    --alert-link-color: var(--palette-black, black);
    --alert-link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
        --alert-bg: var(--palette-white-10, white);
        --alert-bg-hover: var(--palette-white-20, white);
        --alert-border-color: transparent;
        --alert-border-color-hover: transparent;
        --alert-text-color: var(--palette-white, white);
        --alert-link-color: var(--palette-white, white);
        --alert-link-color-hover: var(--palette-white-60, white);
      }
    &.alert--outline {
        --alert-bg: transparent;
        --alert-bg-hover: var(--palette-white-20, white);
        --alert-border-color: var(--palette-white, white);
        --alert-text-color: var(--palette-white, white);
        --alert-link-color: var(--palette-white, white);
        --alert-link-color-hover: var(--palette-white-60, white);
      }
  }

  &.alert--success {
    --alert-bg: var(--palette-green, green);
    --alert-bg-hover: var(--palette-green-80, green);
    --alert-border-color: var(--palette-green, green);
    --alert-border-color-hover: var(--palette-green-60, green);
    --alert-text-color: var(--palette-black, black);
    --alert-link-color: var(--palette-black, black);
    --alert-link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
        --alert-bg: var(--palette-green-10, green);
        --alert-bg-hover: var(--palette-green-20, green);
        --alert-border-color: transparent;
        --alert-border-color-hover: transparent;
        --alert-text-color: var(--palette-green, green);
        --alert-link-color: var(--palette-green, green);
        --alert-link-color-hover: var(--palette-green-60, green);
      }
    &.alert--outline {
        --alert-bg: transparent;
        --alert-bg-hover: var(--palette-green-20, green);
        --alert-border-color: var(--palette-green, green);
        --alert-text-color: var(--palette-green, green);
        --alert-link-color: var(--palette-green, green);
        --alert-link-color-hover: var(--palette-green-60, green);
      }
  }

  &.alert--warning {
    --alert-bg: var(--palette-yellow, yellow);
    --alert-bg-hover: var(--palette-yellow-80, yellow);
    --alert-border-color: var(--palette-yellow, yellow);
    --alert-border-color-hover: var(--palette-yellow-60, yellow);
    --alert-text-color: var(--palette-black, black);
    --alert-link-color: var(--palette-black, black);
    --alert-link-color-hover: var(--palette-black-60, black);
    &.alert--ghost {
        --alert-bg: var(--palette-yellow-10, yellow);
        --alert-bg-hover: var(--palette-yellow-20, yellow);
        --alert-border-color: transparent;
        --alert-border-color-hover: transparent;
        --alert-text-color: var(--palette-yellow, yellow);
        --alert-link-color: var(--palette-yellow, yellow);
        --alert-link-color-hover: var(--palette-yellow-60, yellow);
      }
    &.alert--outline {
        --alert-bg: transparent;
        --alert-bg-hover: var(--palette-yellow-20, yellow);
        --alert-border-color: var(--palette-yellow, yellow);
        --alert-text-color: var(--palette-yellow, yellow);
        --alert-link-color: var(--palette-yellow, yellow);
        --alert-link-color-hover: var(--palette-yellow-60, yellow);
      }
  }

  background-color: var(--alert-bg);
  border-color: var(--alert-border-color);
  border-width: var(--alert-border-width);
  border-radius: var(--alert-border-radius);
  border-style: var(--alert-border-style);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: var(--alert-font-family);
  gap: calc(var(--alert-padding) / 2);
  overflow: hidden;
  padding: var(--alert-padding);
  position: relative;
  text-align: var(--alert-text-align, left);
  transition: all 0.3s;
  width: 100%;

  &:hover {
    background-color: var(--alert-bg-hover);
    border-color: var(--alert-border-color-hover)
  }

  .alert__title {
    font-size: var(--alert-font-size);
    font-weight: bold;
    color: var(--alert-text-color);
    margin-right: var(--alert-padding)
  }

  .alert__message {
    font-size: var(--alert-font-size);
    color: var(--alert-text-color);
    a {
      color: var(--alert-link-color);
      &:hover { color: var(--alert-link-color-hover); }
    }
  }

  .alert__close {
    color: var(--alert-text-color);
    cursor: pointer;
    transform: rotate(45deg);
    position: absolute;
    top: calc(var(--alert-padding) / 2);
    right: calc(var(--alert-padding) / 2);
    font-size: 20px;
  }

  .alert__toggle {
    display: none;
  }

  &:has(.alert__toggle:checked) {
    animation: alert-closing-animation 0.25s linear forwards;
  }
}

/* Animations */

@keyframes alert-closing-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    height: auto;
    padding: var(--alert-padding-medium);
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
  }
}
