/* 
Usage:
<button class="button button-[MODIFIER]">Basic</button>
*/

.button {
  --animation: none;
  --bg-loading-color: var(--palette-black-10, black);
  --bg-color: inherit;
  --bg-color-hover: var(--palette-black-80, black);
  --bg-image: none;
  --bg-size: auto;
  --border-color: var(--palette-black-90, black);
  --border-radius: 4px;
  --border-width: 2px;
  --box-shadow: none;
  --cursor: pointer;
  --display: inline-flex;
  --font-family: var(--font-sans, sans-serif);
  --font-size: 13px;
  --gap: 8px;
  --opacity: 1;
  --padding: 8px 15px;
  --pointer-events: auto;
  --width: max-content;

  /* Colors */

  &.button--dark {
    --bg-color: var(--palette-black, black);
    --bg-color-hover: var(--palette-black-80, black);
    --border-color: var(--palette-black, black);
    --text-color: var(--palette-white, white);
    &:not(.button--disabled):not(.button--loading):hover {
      --bg-color: var(--palette-black-80, black);
      --bg-color-hover: var(--palette-black-60, black);
      --border-color: var(--palette-black-80, black);
    }
    &.button--disabled {
      --opacity: 0.5;
    }
    &.button--loading {
      --bg-loading-color: var(--palette-white-10, white);
      --border-color: var(--palette-white-10, white);
    }
    &.button--ghost {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-black-20, black);
      --border-color: transparent;
      --text-color: var(--palette-black, black);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-black-20, black);
        --bg-color-hover: var(--palette-black-40, black);
        --border-color: var(--palette-black-10, black);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-black-10, black);
        --border-color: var(--palette-black-10, black);
      }
    }
    &.button--outline {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-black-20, black);
      --border-color: ;
      --text-color: var(--palette-black, black);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-black-20, black);
        --bg-color-hover: var(--palette-black-40, black);
        --border-color: var(--palette-black-20, black);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-black-10, black);
        --border-color: var(--palette-black, black);
      }
    }
  }

  &.button--light {
    --bg-color: var(--palette-white, white);
    --bg-color-hover: var(--palette-white-80, white);
    --border-color: var(--palette-white, white);
    --text-color: var(--palette-black, black);
    &:not(.button--disabled):not(.button--loading):hover {
      --bg-color: var(--palette-white-80, white);
      --bg-color-hover: var(--palette-white-60, white);
      --border-color: var(--palette-white-80, white);
    }
    &.button--disabled {
      --opacity: 0.5;
    }
    &.button--loading {
      --bg-loading-color: var(--palette-black-10, black);
      --border-color: var(--palette-black-10, black);
    }
    &.button--ghost {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-white-20, white);
      --border-color: transparent;
      --text-color: var(--palette-white, white);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-white-20, white);
        --bg-color-hover: var(--palette-white-40, white);
        --border-color: var(--palette-white-10, white);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-white-10, white);
        --border-color: var(--palette-white-10, white);
      }
    }
    &.button--outline {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-white-20, white);
      --border-color: ;
      --text-color: var(--palette-white, white);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-white-20, white);
        --bg-color-hover: var(--palette-white-40, white);
        --border-color: var(--palette-white-20, white);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-white-10, white);
        --border-color: var(--palette-white, white);
      }
    }
  }

  &.button--info {
    --bg-color: var(--palette-blue, blue);
    --bg-color-hover: var(--palette-blue-80, blue);
    --border-color: var(--palette-blue, blue);
    --text-color: var(--palette-black, black);
    &:not(.button--disabled):not(.button--loading):hover {
      --bg-color: var(--palette-blue-80, blue);
      --bg-color-hover: var(--palette-blue-60, blue);
      --border-color: var(--palette-blue-80, blue);
    }
    &.button--disabled {
      --opacity: 0.5;
    }
    &.button--loading {
      --bg-loading-color: var(--palette-black-10, black);
      --border-color: var(--palette-black-10, black);
    }
    &.button--ghost {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-blue-20, blue);
      --border-color: transparent;
      --text-color: var(--palette-blue, blue);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-blue-20, blue);
        --bg-color-hover: var(--palette-blue-40, blue);
        --border-color: var(--palette-blue-10, blue);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-blue-10, blue);
        --border-color: var(--palette-blue-10, blue);
      }
    }
    &.button--outline {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-blue-20, blue);
      --border-color: ;
      --text-color: var(--palette-blue, blue);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-blue-20, blue);
        --bg-color-hover: var(--palette-blue-40, blue);
        --border-color: var(--palette-blue-20, blue);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-blue-10, blue);
        --border-color: var(--palette-blue, blue);
      }
    }
  }

  &.button--success {
    --bg-color: var(--palette-green, green);
    --bg-color-hover: var(--palette-green-80, green);
    --border-color: var(--palette-green, green);
    --text-color: var(--palette-black, black);
    &:not(.button--disabled):not(.button--loading):hover {
      --bg-color: var(--palette-green-80, green);
      --bg-color-hover: var(--palette-green-60, green);
      --border-color: var(--palette-green-80, green);
    }
    &.button--disabled {
      --opacity: 0.5;
    }
    &.button--loading {
      --bg-loading-color: var(--palette-black-10, black);
      --border-color: var(--palette-black-10, black);
    }
    &.button--ghost {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-green-20, green);
      --border-color: transparent;
      --text-color: var(--palette-green, green);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-green-20, green);
        --bg-color-hover: var(--palette-green-40, green);
        --border-color: var(--palette-green-10, green);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-green-10, green);
        --border-color: var(--palette-green-10, green);
      }
    }
    &.button--outline {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-green-20, green);
      --border-color: ;
      --text-color: var(--palette-green, green);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-green-20, green);
        --bg-color-hover: var(--palette-green-40, green);
        --border-color: var(--palette-green-20, green);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-green-10, green);
        --border-color: var(--palette-green, green);
      }
    }
  }

  &.button--warning {
    --bg-color: var(--palette-yellow, yellow);
    --bg-color-hover: var(--palette-yellow-80, yellow);
    --border-color: var(--palette-yellow, yellow);
    --text-color: var(--palette-black, black);
    &:not(.button--disabled):not(.button--loading):hover {
      --bg-color: var(--palette-yellow-80, yellow);
      --bg-color-hover: var(--palette-yellow-60, yellow);
      --border-color: var(--palette-yellow-80, yellow);
    }
    &.button--disabled {
      --opacity: 0.5;
    }
    &.button--loading {
      --bg-loading-color: var(--palette-black-10, black);
      --border-color: var(--palette-black-10, black);
    }
    &.button--ghost {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-yellow-20, yellow);
      --border-color: transparent;
      --text-color: var(--palette-yellow, yellow);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-yellow-20, yellow);
        --bg-color-hover: var(--palette-yellow-40, yellow);
        --border-color: var(--palette-yellow-10, yellow);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-yellow-10, yellow);
        --border-color: var(--palette-yellow-10, yellow);
      }
    }
    &.button--outline {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-yellow-20, yellow);
      --border-color: ;
      --text-color: var(--palette-yellow, yellow);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-yellow-20, yellow);
        --bg-color-hover: var(--palette-yellow-40, yellow);
        --border-color: var(--palette-yellow-20, yellow);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-yellow-10, yellow);
        --border-color: var(--palette-yellow, yellow);
      }
    }
  }

  &.button--error {
    --bg-color: var(--palette-red, red);
    --bg-color-hover: var(--palette-red-80, red);
    --border-color: var(--palette-red, red);
    --text-color: var(--palette-black, black);
    &:not(.button--disabled):not(.button--loading):hover {
      --bg-color: var(--palette-red-80, red);
      --bg-color-hover: var(--palette-red-60, red);
      --border-color: var(--palette-red-80, red);
    }
    &.button--disabled {
      --opacity: 0.5;
    }
    &.button--loading {
      --bg-loading-color: var(--palette-black-10, black);
      --border-color: var(--palette-black-10, black);
    }
    &.button--ghost {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-red-20, red);
      --border-color: transparent;
      --text-color: var(--palette-red, red);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-red-20, red);
        --bg-color-hover: var(--palette-red-40, red);
        --border-color: var(--palette-red-10, red);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-red-10, red);
        --border-color: var(--palette-red-10, red);
      }
    }
    &.button--outline {
      --bg-color: transparent;
      --bg-color-hover: var(--palette-red-20, red);
      --border-color: ;
      --text-color: var(--palette-red, red);
      &:not(.button--disabled):not(.button--loading):hover {
        --bg-color: var(--palette-red-20, red);
        --bg-color-hover: var(--palette-red-40, red);
        --border-color: var(--palette-red-20, red);
      }
      &.button--disabled {
        --opacity: 0.5;
      }
      &.button--loading {
        --bg-loading-color: var(--palette-red-10, red);
        --border-color: var(--palette-red, red);
      }
    }
  }

  /* Modifiers */
  &.button--block {
    --display: block;
    --width: 100%;
  }
  &.button--large {
    --font-size: 16px;
    --padding: 12px 20px;
    --gap: 12px;
  }
  &.button--small {
    --font-size: 12px;
    --padding: 6px 10px;
    --gap: 6px;
  }
  &.button--disabled {
    --pointer-events: none;
    --cursor: not-allowed;
  }
  &.button--loading {
    --bg-size: 200px 100%;
    --bg-image: repeating-linear-gradient(
      -45deg,
      var(--bg-loading-color, white),
      var(--bg-loading-color, white) 5px,
      transparent 5px,
      transparent 10px
    );
    --animation: button-loading-animation 2s linear infinite;
    --cursor: not-allowed;
    --pointer-events: none;
  }

  align-items: center;
  animation: var(--animation);
  background-color: var(--bg-color);
  background-size: var(--bg-size);
  background-image: var(--bg-image);
  border-color: var(--border-color);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  clip-path: inset(0);
  color: var(--text-color, white);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: var(--border-width);
  cursor: var(--cursor, pointer);
  display: inline-flex;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: bold;
  gap: var(--gap);
  justify-content: center;
  outline: none;
  opacity: var(--opacity);
  padding: var(--padding);
  position: relative;
  pointer-events: var(--pointer-events);
  overflow: hidden;
  text-align: center;
  text-wrap: nowrap;
  transition: all 0.3s;
  user-select: none;
  vertical-align: middle;
  width: var(--width);
}

/* Animations */
@keyframes button-loading-animation {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
