<div class="specs" style="grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))">
  <!-- Dark -->
  <div class="spec spec--light">
    <div class="spec__example">
      <label class="alert alert--dark">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Dark</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--dark</code></div>
  </div>
  <div class="spec spec--light">
    <div class="spec__example">
      <label class="alert alert--dark alert--ghost">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Dark</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--dark</code><code>.alert--ghost</code></div>
  </div>
  <div class="spec spec--light">
    <div class="spec__example">
      <label class="alert alert--dark alert--outline">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Dark</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--dark</code><code>.alert--outline</code></div>
  </div>

  <!-- Light -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--light">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Light</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--light</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--light alert--ghost">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Light</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--light</code><code>.alert--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--light alert--outline">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Light</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--light</code><code>.alert--outline</code></div>
  </div>

  <!-- Info -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--info">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Info</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--info</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--info alert--ghost">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Info</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--info</code><code>.alert--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--info alert--outline">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Info</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--info</code><code>.alert--outline</code></div>
  </div>

  <!-- Success -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--success">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Success</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--success</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--success alert--ghost">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Success</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--success</code><code>.alert--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--success alert--outline">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Success</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--success</code><code>.alert--outline</code></div>
  </div>

  <!-- Warning -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--warning">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Warning</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--warning</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--warning alert--ghost">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Warning</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--warning</code><code>.alert--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--warning alert--outline">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Warning</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--warning</code><code>.alert--outline</code></div>
  </div>

  <!-- Error -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--error">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Warning</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--error</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--error alert--ghost">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Warning</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--error</code><code>.alert--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--error alert--outline">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Warning</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Sed nonne merninisti licere mihi ista
          probare, quae sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--error</code><code>.alert--outline</code></div>
  </div>
</div>
