<div class="specs" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))">
  <!-- Dark -->
  <div class="spec spec--light">
    <div class="spec__example">
      <div class="card card--medium card--dark">
        <div class="card__title">Dark</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--dark</code></div>
  </div>
  <div class="spec spec--light">
    <div class="spec__example">
      <div class="card card--medium card--dark card--ghost">
        <div class="card__title">Dark</div>
        <div class="card__actions">
          <button class="button button--dark button--ghost button--small">button</button>
        </div>
        <div class="card__body color-black">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--dark button--small button--ghost">button</button>
          <button class="button button--dark button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--dark</code><code>.card--ghost</code></div>
  </div>
  <div class="spec spec--light">
    <div class="spec__example">
      <div class="card card--medium card--dark card--outline">
        <div class="card__title">Dark</div>
        <div class="card__actions">
          <button class="button button--dark button--ghost button--small">button</button>
        </div>
        <div class="card__body color-black">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--dark button--small button--ghost">button</button>
          <button class="button button--dark button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--dark</code><code>.card--outline</code></div>
  </div>

  <!-- Light -->
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--light">
        <div class="card__title">Light</div>
        <div class="card__actions">
          <button class="button button--dark button--ghost button--small">button</button>
        </div>
        <div class="card__body color-black">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--dark button--small button--ghost">button</button>
          <button class="button button--dark button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--light</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--light card--ghost">
        <div class="card__title">Light</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--light</code><code>.card--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--light card--outline">
        <div class="card__title">Light</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--light</code><code>.card--outline</code></div>
  </div>

  <!-- Info -->
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--info">
        <div class="card__title">Info</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--info</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--info card--ghost">
        <div class="card__title">Info</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--info</code><code>.card--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--info card--outline">
        <div class="card__title">Info</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--info</code><code>.card--outline</code></div>
  </div>

  <!-- Success -->
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--success">
        <div class="card__title">Success</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--success</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--success card--ghost">
        <div class="card__title">Success</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--success</code><code>.card--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--success card--outline">
        <div class="card__title">Success</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--success</code><code>.card--outline</code></div>
  </div>

  <!-- Warning -->
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--warning">
        <div class="card__title">Warning</div>
        <div class="card__actions">
          <button class="button button--dark button--ghost button--small">button</button>
        </div>
        <div class="card__body color-black">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--dark button--small button--ghost">button</button>
          <button class="button button--dark button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--warning</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--warning card--ghost">
        <div class="card__title">Warning</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--warning</code><code>.card--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--warning card--outline">
        <div class="card__title">Warning</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--warning</code><code>.card--outline</code></div>
  </div>

  <!-- Error -->
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--error">
        <div class="card__title">Error</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--error</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--error card--ghost">
        <div class="card__title">Error</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--error</code><code>.card--ghost</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <div class="card card--medium card--error card--outline">
        <div class="card__title">Error</div>
        <div class="card__actions">
          <button class="button button--light button--ghost button--small">button</button>
        </div>
        <div class="card__body">lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="card__footer">
          <button class="button button--light button--small button--ghost">button</button>
          <button class="button button--light button--small button--ghost">button</button>
        </div>
      </div>
    </div>
    <div class="spec__code"><code>.card</code><code>.card--error</code><code>.card--outline</code></div>
  </div>
</div>
