<div class="buttons-examples">
  <section>
    <h1>Basic</h1>
    <button class="button">Default</button>
    <button class="button button--disabled">Disabled</button>
    <button class="button button--success">Success</button>
    <button class="button button--warning">Warning</button>
    <button class="button button--danger">Error</button>
    <button class="button button--info">Info</button>
    <button class="button button--loading">Loading</button>
    <button class="button button--small">Small</button>
    <button class="button button--large">Large</button>
    <button class="button button--block">Block</button>
  </section>

  <section>
    <h1>Outline</h1>
    <button class="button">Default</button>
    <button class="button button--outline button--hover">Hover</button>
    <button class="button button--outline button--active">Active</button>
    <button class="button button--outline button--disabled">Disabled</button>
    <button class="button button--outline button--focus">Focus</button>
    <button class="button button--outline button--success">Success</button>
    <button class="button button--outline button--warning">Warning</button>
    <button class="button button--outline button--error">Error</button>
    <button class="button button--outline button--info">Info</button>
    <button class="button button--outline button--loading">Loading</button>
    <button class="button button--outline button--small">Small</button>
    <button class="button button--outline button--large">Large</button>
    <button class="button button--outline button--block">Block</button>
  </section>

  <section>
    <h1>Link</h1>
    <button class="button">Default</button>
    <button class="button button--link button--hover">Hover</button>
    <button class="button button--link button--active">Active</button>
    <button class="button button--link button--disabled">Disabled</button>
    <button class="button button--link button--focus">Focus</button>
    <button class="button button--link button--success">Success</button>
    <button class="button button--link button--warning">Warning</button>
    <button class="button button--link button--error">Error</button>
    <button class="button button--link button--info">Info</button>
    <button class="button button--link button--loading">Loading</button>
    <button class="button button--link button--small">Small</button>
    <button class="button button--link button--large">Large</button>
    <button class="button button--link button--block">Block</button>
  </section>

  <section>
    <h1>Ghost</h1>
    <button class="button">Default</button>
    <button class="button button--ghost button--hover">Hover</button>
    <button class="button button--ghost button--active">Active</button>
    <button class="button button--ghost button--disabled">Disabled</button>
    <button class="button button--ghost button--focus">Focus</button>
    <button class="button button--ghost button--success">Success</button>
    <button class="button button--ghost button--warning">Warning</button>
    <button class="button button--ghost button--error">Error</button>
    <button class="button button--ghost button--info">Info</button>
    <button class="button button--ghost button--loading">Loading</button>
    <button class="button button--ghost button--small">Small</button>
    <button class="button button--ghost button--large">Large</button>
    <button class="button button--ghost button--block">Block</button>
  </section>
</div>
