<div class="specs" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
<div class="spec">
    <div class="spec__example"><button class="button">Basic</button></div>
    <div class="spec__code"><code>.button</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--disabled">Basic</button></div>
    <div class="spec__code"><code>.button</code><code>.button--disabled</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--disabled">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--disabled</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--disabled">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--disabled</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--disabled">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--disabled</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--disabled">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--disabled</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--loading">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--loading</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--loading">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--loading</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--loading">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--loading</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--loading">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--loading</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--small">Small</button></div>
    <div class="spec__code"><code>.button</code><code>.button--small</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--medium">Medium</button></div>
    <div class="spec__code"><code>.button</code><code>.button--medium</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--large">Large</button></div>
    <div class="spec__code"><code>.button</code><code>.button--large</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--block">Block</button></div>
    <div class="spec__code"><code>.button</code><code>.button--block</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--outline">Basic</button></div>
    <div class="spec__code"><code>.button</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--outline">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--outline">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--outline">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--outline">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--disabled button--outline">Basic</button></div>
    <div class="spec__code"><code>.button</code><code>.button--disabled</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--disabled button--outline">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--disabled</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--disabled button--outline">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--disabled</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--disabled button--outline">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--disabled</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--disabled button--outline">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--disabled</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--loading button--outline">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--loading</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--loading button--outline">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--loading</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--loading button--outline">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--loading</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--loading button--outline">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--loading</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--small button--outline">Small</button></div>
    <div class="spec__code"><code>.button</code><code>.button--small</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--medium button--outline">Medium</button></div>
    <div class="spec__code"><code>.button</code><code>.button--medium</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--large button--outline">Large</button></div>
    <div class="spec__code"><code>.button</code><code>.button--large</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--block button--outline">Block</button></div>
    <div class="spec__code"><code>.button</code><code>.button--block</code><code>.button--outline</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--link">Basic</button></div>
    <div class="spec__code"><code>.button</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--link">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--link">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--link">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--link">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--disabled button--link">Basic</button></div>
    <div class="spec__code"><code>.button</code><code>.button--disabled</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--disabled button--link">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--disabled</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--disabled button--link">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--disabled</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--disabled button--link">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--disabled</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--disabled button--link">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--disabled</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--loading button--link">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--loading</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--loading button--link">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--loading</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--loading button--link">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--loading</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--loading button--link">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--loading</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--small button--link">Small</button></div>
    <div class="spec__code"><code>.button</code><code>.button--small</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--medium button--link">Medium</button></div>
    <div class="spec__code"><code>.button</code><code>.button--medium</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--large button--link">Large</button></div>
    <div class="spec__code"><code>.button</code><code>.button--large</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--block button--link">Block</button></div>
    <div class="spec__code"><code>.button</code><code>.button--block</code><code>.button--link</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--ghost">Basic</button></div>
    <div class="spec__code"><code>.button</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--ghost">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--ghost">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--ghost">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--ghost">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--disabled button--ghost">Basic</button></div>
    <div class="spec__code"><code>.button</code><code>.button--disabled</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--disabled button--ghost">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--disabled</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--disabled button--ghost">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--disabled</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--disabled button--ghost">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--disabled</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--disabled button--ghost">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--disabled</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--success button--loading button--ghost">Success</button></div>
    <div class="spec__code"><code>.button</code><code>.button--success</code><code>.button--loading</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--info button--loading button--ghost">Info</button></div>
    <div class="spec__code"><code>.button</code><code>.button--info</code><code>.button--loading</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--warning button--loading button--ghost">Warning</button></div>
    <div class="spec__code"><code>.button</code><code>.button--warning</code><code>.button--loading</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--danger button--loading button--ghost">Danger</button></div>
    <div class="spec__code"><code>.button</code><code>.button--danger</code><code>.button--loading</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--small button--ghost">Small</button></div>
    <div class="spec__code"><code>.button</code><code>.button--small</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--medium button--ghost">Medium</button></div>
    <div class="spec__code"><code>.button</code><code>.button--medium</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--large button--ghost">Large</button></div>
    <div class="spec__code"><code>.button</code><code>.button--large</code><code>.button--ghost</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><button class="button button--block button--ghost">Block</button></div>
    <div class="spec__code"><code>.button</code><code>.button--block</code><code>.button--ghost</code></div>
  </div>
</div>