/* latin */
@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PermanentMarker.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SpaceGrotesk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Splash";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Splash.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#root {
  --color: #232930;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color);
}

html,
body {
  background-color: var(--color);
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

code {
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px;
  display: inline-block;
  padding: 0 3px;
}

/* Basic scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:focus {
  outline: none;
}

dialog[open] {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  text-align: center;
  border: none;
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

/* Blurring the background behind the dialog */
dialog[open]::backdrop {
  background-color: rgba(255, 255, 255) !important;
  backdrop-filter: blur(5px);
}
