.accordion {
  --accordion-body-bg: inherit;
  --accordion-body-text-color: inherit;
  --accordion-border-color: inherit;
  --accordion-border-radius: 4px;
  --accordion-font-family: var(--font-sans, sans-serif);
  --accordion-font-size: 14px;
  --accordion-header-bg: inherit;
  --accordion-header-color: inherit;
  --accordion-header-hover-bg: inherit;
  --accordion-header-selected-bg: inherit;
  --accordion-spacing: 12px;
  --accordion-toggle-size: 6px;

  &.accordion--dark {
    --accordion-body-bg: var(--palette-black-90, black);
    --accordion-body-text-color: var(--palette-white, white);
    --accordion-border-color: var(--palette-white-10, white);
    --accordion-border-radius: 4px;
    --accordion-font-family: var(--font-sans, sans-serif);
    --accordion-font-size: 14px;
    --accordion-header-bg: var(--palette-black, black);
    --accordion-header-color: var(--palette-white, white);
    --accordion-header-hover-bg: var(--palette-black-90, black);
    --accordion-spacing: 12px;
    --accordion-toggle-size: 6px;
  }

  &.accordion--light {
    --accordion-body-bg: var(--palette-white, white);
    --accordion-body-text-color: var(--palette-black, black);
    --accordion-border-color: var(--palette-black-10, black);
    --accordion-border-radius: 4px;
    --accordion-font-family: var(--font-sans, sans-serif);
    --accordion-font-size: 14px;
    --accordion-header-bg: var(--palette-white-90, white);
    --accordion-header-color: var(--palette-black, black);
    --accordion-header-hover-bg: var(--palette-white-90, white);
    --accordion-spacing: 12px;
    --accordion-toggle-size: 6px;
  }

  width: 100%;
  font-family: var(--accordion-font-family);
  font-size: var(--accordion-font-size);

  .accordion__item {
    &:first-child .accordion__header {
      border-top-left-radius: var(--accordion-border-radius);
      border-top-right-radius: var(--accordion-border-radius);
    }

    &:last-child:not(:has(.accordion__input:checked)) .accordion__header {
      border-bottom-left-radius: var(--accordion-border-radius);
      border-bottom-right-radius: var(--accordion-border-radius);
    }

    &:last-child:has(.accordion__input:checked) .accordion__body {
      border-bottom-left-radius: var(--accordion-border-radius);
      border-bottom-right-radius: var(--accordion-border-radius);
    }

    .accordion__header {
      background-color: var(--accordion-header-bg);
      border-bottom: 1px solid var(--accordion-border-color);
      color: var(--accordion-header-color);
      cursor: pointer;
      display: block;
      font-weight: bold;
      padding: var(--accordion-spacing);
      position: relative;

      &:hover {
        background-color: var(--accordion-header-hover-bg);
        transition: all 200ms;
      }

      &::after {
        border-left: 2px solid var(--accordion-header-color);
        border-bottom: 2px solid var(--accordion-header-color);
        color: var(--accordion-header-text-color);
        content: "";
        display: flex;
        width: var(--accordion-toggle-size);
        height: var(--accordion-toggle-size);
        position: absolute;
        right: var(--accordion-spacing);
        top: calc(50% - var(--accordion-toggle-size) / 2 * 2);
        transform: rotate(-45deg);
      }
    }

    .accordion__input {
      display: none;

      &:checked + .accordion__header + .accordion__body {
        display: block;
      }
      &:checked + .accordion__header::after {
        transform: rotate(135deg);
        top: calc(50% - var(--accordion-toggle-size) / 2);
      }
    }

    .accordion__body {
      background-color: var(--accordion-body-bg);
      border-bottom: 1px solid var(--accordion-border-color);
      color: var(--accordion-body-text-color);
      padding: var(--accordion-spacing);
      font-size: var(--accordion-font-size);
      display: none;
    }
  }
}
