<div class="specs" style="grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))">
  <!-- Solid Alerts -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--success">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--success</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--info">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--info</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--warning">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--warning</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--danger">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--danger</code></div>
  </div>

  <!-- Outline Alerts -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--outline">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--outline alert--success">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--success</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--outline alert--info">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--info</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--outline alert--warning">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--warning</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--outline alert--danger">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--danger</code></div>
  </div>

  <!-- Ghost Alerts -->
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--ghost">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--ghost alert--success">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--success</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--ghost alert--info">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--info</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--ghost alert--warning">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--warning</code></div>
  </div>
  <div class="spec">
    <div class="spec__example">
      <label class="alert alert--ghost alert--danger">
        <input type="checkbox" class="alert__toggle" />
        <div class="alert__close">＋</div>
        <div class="alert__title">Alert Title</div>
        <div class="alert__message">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
          sunt a te dicta?
        </div>
      </label>
    </div>
    <div class="spec__code"><code>.alert</code><code>.alert--danger</code></div>
  </div>
</div>
