<div class="specs" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
<div class="spec">
    <div class="spec__example"><div class="alert>Basic</div></div>
    <div class="spec__code"><code>.alert</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><div class="alert alert--success">Success</div></div>
    <div class="spec__code"><code>.alert</code>,<code>.alert--success</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><div class="alert alert--info">Info</div></div>
    <div class="spec__code"><code>.alert</code>,<code>.alert--info</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><div class="alert alert--warning">Warning</div></div>
    <div class="spec__code"><code>.alert</code>,<code>.alert--warning</code></div>
  </div>
<div class="spec">
    <div class="spec__example"><div class="alert alert--danger">Danger</div></div>
    <div class="spec__code"><code>.alert</code>,<code>.alert--danger</code></div>
  </div>
</div>