.ui { 

  --bg-color: var(--token-black, black); 
  --gutter: 20px; 
  --mobile-max-col-width: 1fr; 
  --desktop-max-col-width: 60px;
  --scrollbar-thumb-color: var(--token-black-80, black); 
  --scrollbar-track-color: var(--token-white-10, black); 
  --text-color: var(--token-white, white);
   
  background-color: var(--bg-color); 
  color: var(--text-color); 
  min-height: 100vh; 
  display: grid; 
  width: 100%; 
  max-width: var(--max-width); 
  margin: 0 auto; 
  gap: var(--gutter); 
  grid-template-columns: repeat(6, var(--mobile-max-col-width)); 
  grid-auto-rows: 3ch;
  box-sizing: border-box; 
  @media (min-width: 768px) { grid-template-columns: 1fr repeat(12, var(--desktop-max-col-width)) 1fr; } 
 }


.ui__item { display: grid; grid-template-columns: subgrid; box-sizing: border-box; } 
.ui__item > * { width: 100%; grid-column: 1 / -1; box-sizing: border-box; } 
.ui__item--align-center { align-items: center; } 
.ui__item--align-end { align-items: end; } 
.ui__item--align-start { align-items: start; } 
.ui__item--align-stretch { align-items: stretch; } 
.ui__item--align-baseline { align-items: baseline; } 
.ui__item--justify-center { justify-items: center; } 
.ui__item--justify-end { justify-items: end; } 
.ui__item--justify-start { justify-items: start; } 
.ui__item--justify-space-between { justify-items: space-between; } 
.ui__item--justify-space-around { justify-items: space-around; } 
.ui__item--justify-space-evenly { justify-items: space-evenly; } 
.ui__item--full { grid-column: 1 / -1; } 

@media screen and (min-width: 0px) and (max-width: 767px){
 .mobile\:ui__item--col-start-1 { grid-column-start: 1; } 
 .mobile\:ui__item--col-start-2 { grid-column-start: 2; } 
 .mobile\:ui__item--col-start-3 { grid-column-start: 3; } 
 .mobile\:ui__item--col-start-4 { grid-column-start: 4; } 
 .mobile\:ui__item--col-start-5 { grid-column-start: 5; } 
 .mobile\:ui__item--col-start-6 { grid-column-start: 6; } 
 .mobile\:ui__item--col-end-1 { grid-column-end: 1; } 
 .mobile\:ui__item--col-end-2 { grid-column-end: 2; } 
 .mobile\:ui__item--col-end-3 { grid-column-end: 3; } 
 .mobile\:ui__item--col-end-4 { grid-column-end: 4; } 
 .mobile\:ui__item--col-end-5 { grid-column-end: 5; } 
 .mobile\:ui__item--col-end-6 { grid-column-end: 6; } 
 .mobile\:ui__item--col-end-7 { grid-column-end: 7; } 
 }

@media screen and (min-width: 768px){
 .desktop\:ui__item--col-start-1 { grid-column-start: 1; } 
 .desktop\:ui__item--col-start-2 { grid-column-start: 2; } 
 .desktop\:ui__item--col-start-3 { grid-column-start: 3; } 
 .desktop\:ui__item--col-start-4 { grid-column-start: 4; } 
 .desktop\:ui__item--col-start-5 { grid-column-start: 5; } 
 .desktop\:ui__item--col-start-6 { grid-column-start: 6; } 
 .desktop\:ui__item--col-start-7 { grid-column-start: 7; } 
 .desktop\:ui__item--col-start-8 { grid-column-start: 8; } 
 .desktop\:ui__item--col-start-9 { grid-column-start: 9; } 
 .desktop\:ui__item--col-start-10 { grid-column-start: 10; } 
 .desktop\:ui__item--col-start-11 { grid-column-start: 11; } 
 .desktop\:ui__item--col-start-12 { grid-column-start: 12; } 
 .desktop\:ui__item--col-start-13 { grid-column-start: 13; } 
 .desktop\:ui__item--col-start-14 { grid-column-start: 14; } 
 .desktop\:ui__item--col-end-1 { grid-column-end: 1; } 
 .desktop\:ui__item--col-end-2 { grid-column-end: 2; } 
 .desktop\:ui__item--col-end-3 { grid-column-end: 3; } 
 .desktop\:ui__item--col-end-4 { grid-column-end: 4; } 
 .desktop\:ui__item--col-end-5 { grid-column-end: 5; } 
 .desktop\:ui__item--col-end-6 { grid-column-end: 6; } 
 .desktop\:ui__item--col-end-7 { grid-column-end: 7; } 
 .desktop\:ui__item--col-end-8 { grid-column-end: 8; } 
 .desktop\:ui__item--col-end-9 { grid-column-end: 9; } 
 .desktop\:ui__item--col-end-10 { grid-column-end: 10; } 
 .desktop\:ui__item--col-end-11 { grid-column-end: 11; } 
 .desktop\:ui__item--col-end-12 { grid-column-end: 12; } 
 .desktop\:ui__item--col-end-13 { grid-column-end: 13; } 
 .desktop\:ui__item--col-end-14 { grid-column-end: 14; } 
 }
