:root {
  --ui-bg-color: var(--palette-black, black);
  --ui-gutter: 20px;
  --ui-max-width: 960px;
  --ui-scrollbar-thumb-color: var(--palette-black-80, black);
  --ui-scrollbar-track-color: var(--palette-white-10, black);
  --ui-text-color: var(--palette-white, white);
}

.ui__bg {
  background-color: var(--ui-bg-color);
  color: var(--ui-text-color);
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.ui {
  display: grid;
  width: 100%;
  max-width: var(--ui-max-width);
  margin: 0 auto;
  gap: var(--ui-gutter);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content;
  box-sizing: border-box;
  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.ui__item {
  display: grid;
  grid-template-columns: subgrid;
  box-sizing: border-box;
}

.ui__item > * {
  width: 100%;
  grid-column: 1 / -1;
  box-sizing: border-box;
}

.ui__item--align-center { align-items: center; }
.ui__item--align-end { align-items: end; }
.ui__item--align-start { align-items: start; }
.ui__item--align-stretch { align-items: stretch; }
.ui__item--align-baseline { align-items: baseline; }
.ui__item--justify-center { justify-items: center; }
.ui__item--justify-end { justify-items: end; }
.ui__item--justify-start { justify-items: start; }
.ui__item--justify-space-between { justify-items: space-between; }
.ui__item--justify-space-around { justify-items: space-around; }
.ui__item--justify-space-evenly { justify-items: space-evenly; }
.ui__item--full { grid-column: 1 / -1; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .mobile\:ui__item--start-1 { grid-column-start: 1; }
  .mobile\:ui__item--start-2 { grid-column-start: 2; }
  .mobile\:ui__item--start-3 { grid-column-start: 3; }
  .mobile\:ui__item--start-4 { grid-column-start: 4; }
  .mobile\:ui__item--start-5 { grid-column-start: 5; }
  .mobile\:ui__item--start-6 { grid-column-start: 6; }
  .mobile\:ui__item--end-1 { grid-column-end: 1; }
  .mobile\:ui__item--end-2 { grid-column-end: 2; }
  .mobile\:ui__item--end-3 { grid-column-end: 3; }
  .mobile\:ui__item--end-4 { grid-column-end: 4; }
  .mobile\:ui__item--end-5 { grid-column-end: 5; }
  .mobile\:ui__item--end-6 { grid-column-end: 6; }
  .mobile\:ui__item--end-7 { grid-column-end: 7; }

}

@media screen and (min-width: 768px) {
  .desktop\:ui__item--start-1 { grid-column-start: 1; }
  .desktop\:ui__item--start-2 { grid-column-start: 2; }
  .desktop\:ui__item--start-3 { grid-column-start: 3; }
  .desktop\:ui__item--start-4 { grid-column-start: 4; }
  .desktop\:ui__item--start-5 { grid-column-start: 5; }
  .desktop\:ui__item--start-6 { grid-column-start: 6; }
  .desktop\:ui__item--start-7 { grid-column-start: 7; }
  .desktop\:ui__item--start-8 { grid-column-start: 8; }
  .desktop\:ui__item--start-9 { grid-column-start: 9; }
  .desktop\:ui__item--start-10 { grid-column-start: 10; }
  .desktop\:ui__item--start-11 { grid-column-start: 11; }
  .desktop\:ui__item--start-12 { grid-column-start: 12; }
  .desktop\:ui__item--end-1 { grid-column-end: 1; }
  .desktop\:ui__item--end-2 { grid-column-end: 2; }
  .desktop\:ui__item--end-3 { grid-column-end: 3; }
  .desktop\:ui__item--end-4 { grid-column-end: 4; }
  .desktop\:ui__item--end-5 { grid-column-end: 5; }
  .desktop\:ui__item--end-6 { grid-column-end: 6; }
  .desktop\:ui__item--end-7 { grid-column-end: 7; }
  .desktop\:ui__item--end-8 { grid-column-end: 8; }
  .desktop\:ui__item--end-9 { grid-column-end: 9; }
  .desktop\:ui__item--end-10 { grid-column-end: 10; }
  .desktop\:ui__item--end-11 { grid-column-end: 11; }
  .desktop\:ui__item--end-12 { grid-column-end: 12; }
  .desktop\:ui__item--end-13 { grid-column-end: 13; }
}